# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore operating system specific files
.DS_Store
Thumbs.db

#bash stuff
school
.pub